.apple {
  max-width: 1210px;
  margin: 40px auto 0 auto;
  padding: 20px;
}

@media (max-width: 420px) {
  .apple .swiper-button-prev,
  .apple .swiper-button-next {
    display: none !important;
  }
}