.about {
  max-width: 1210px;
  margin: 40px auto auto;
  padding: 20px 20px 40px 20px;
}
.about_grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
}
.about_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background: #fff;
  padding: 20px;
  &:hover {
    background: var(--white, #fcfcfc);
  }
}
.about_card_img {
  width: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 65px;
}
.about_card_title {
  color: var(--text, #333);
  text-align: center;
  font-family: gil-bold;
  font-size: 18px;
}
.about_card_desc {
  color: var(--gray-1, #8f8e94);
  text-align: center;
  font-family: gil-semi;
  font-size: 13px;
  line-height: 16.8px;
}

@media (max-width: 851px) {
  .about_grid{
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (max-width: 549px) {
  .about_grid{
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 380px) {
  .about_grid{
    grid-template-columns: 1fr;
  }
}